<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add Student</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body>
<br>
<br>

<div class="container my-2">
    <h1>Add Student:</h1>
    <hr>
    <form th:action="@{/teachers/add}" th:object="${teacher}" method="post">
        <div>
            <input type="hidden" th:field="*{id}"/>
        </div>

        <div class="errorClass">
            <div><label><b>First Name:</b></label></div>
            <input type="text" th:field="*{firstName}" class="form-control mb-4 col-4">
            <div> <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Error name</span></div>
        </div>

        <div class="errorClass">
            <div><label><b>Last Name:</b></label></div>
            <input type="text" th:field="*{lastName}"  class="form-control mb-4 col-4">
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error name</span>
        </div>

        <div class="errorClass">
            <div><label><b>Age:</b></label></div>
            <input type="number" th:field="*{age}"  class="form-control mb-4 col-4">
            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error name</span>
        </div>

        <div class="errorClass">
            <div><label><b>Email:</b> </label></div>
            <div> <input type="text" th:field="*{email}" class="form-control mb-4 col-4"></div>
            <div> <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error name</span></div>
        </div>

        <div class="errorClass">
            <div><label><b>Subject:</b> </label></div>
            <div> <input type="text" th:field="*{subject}" class="form-control mb-4 col-4"></div>
            <div> <span th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}">Error name</span></div>
        </div>

        <hr>
        <div>
            <button type="submit" class="btn btn-info col-2"> Save</button>
        </div>
    </form>

    <div class="rollover">
        <a th:href="@{/teachers/list}" class="btn btn-light col-2"> Back to Teacher List</a>
    </div>


</div>
</body>
</html>